.header__top{
    padding: 10px 0px;
    background: blue;
    color: white;
}

.header__top__left{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.header__top__left spam{
    font-size: 0.9rem;
}

.header__top__help {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}

.header__top__help{
    background: white;
    color: blue;
    padding: 2px 4px;
    border-radius: 50px;
    font-size: 0.7rem;
}